parameters:
    level: 8
    paths:
        - src
    excludePaths:
        - src/Enums
    ignoreErrors:
        - '#App\\Enums#'
        - '#Cannot call method move#'
        - '#int<0, max>, int given#'
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
